{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Stock</th>
            <th>Shares</th>
            <th>Date</th>
            <th>Balance</th>
        </thead>

        <tbody>
            {% for x in history %}
                <tr>
                    <td>{{x["stock"]}}</td>
                    <td>{{x["shares"]}}</td>
                    <td>{{x["date"]}}</td>
                    <td>{{round(x["balance"], 2)}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>



{% endblock %}