{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <h style="font-size:15px">Username</h>
            <input placeholder="Name" autocomplete="off" name="username" type="text" autofocus class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <h2 style="font-size:15px">Password</h>
            <input placeholder="Password" autocomplete="off" name="password" type="text" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <h3 style="font-size:15px">Confirm password</h>
            <input placeholder="Re-enter password" autocomplete="off" name="confirmation" type="text" class="form-control mx-auto w-auto">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock %}